.speclogo{
    border: 5px;
    border-style: dashed;
    border-color: var(--lightgrey);
    border-width: 5px;
}




.spec-content{
    padding: 15px;
    background-color: var(--lightgrey);
    color: var(--white);
    width: 300px;
    margin: 0.5rem auto;
    border: 5px;
    border-style: solid;
    border-color: var(--lightergrey);
    border-width: 5px;
    border-radius: 5px;
}




.specs{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}


.spec-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--offwhite);
}




.div-specs-id{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: auto 0.5rem;
    justify-content: center;
    white-space: nowrap;
}




.icon{
    color: var(--main-color);
}


.info{
    background-color: var(--btncolor);
    border-color: var(--btnborder);
    border-width: 3px;
    border-style: solid;
    margin: 2rem auto auto auto;
    display: flex;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    color: var(--text-color);
    margin-bottom: 1rem;
    align-items: center;
 }


 .services{
    grid-template-columns: 1fr;
    display: grid;
 }


 @media only screen and (min-width: 630px) {




    .info{
        width: 500px;
     }




     .services{
        grid-template-columns: 1fr 1fr;
    }
 }




 
 @media only screen and (min-width: 950px) {




    .info{
        width: fit-content;
     }


     .titleinfo{
        padding-left: 4rem;
        padding-right: 4rem;
     }




     .services{
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        display: grid;
        margin: auto;
        justify-items: center;
        grid-gap: 15px;
        justify-content: space-around;
    }


 
    
    
 
 }





.title{
font-size: 3rem;
font-weight: 600;
color: var(--white);
text-align: center;
}







@media only screen and (min-width: 1250px) {
.spec-content{
    width: 600px;
    height: 200px;
}


.specs{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    grid-gap: 15px;
}

.spec-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--offwhite);
}




}
