@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

html,
body {
  overflow-x: hidden;
  margin-right: 0 !important;
  width: 100%;
}

body {
  background: black;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  background: black;
  min-height: 100vh;
}
